<template>
    <div>
        <h1>Syncfusion Essential Studio 2 Grid Component</h1>
        <ejs-grid ref='grid' id='Grid' :dataSource='data' :toolbar='toolbarOptions' height='272px' :toolbarClick='toolbarClick'>
            <e-columns>
                <e-column field='OrderID' headerText='Order ID' textAlign='Right' width=120></e-column>
                <e-column field='CustomerID' headerText='Customer ID' width=150></e-column>
                <e-column field='Freight' format='C2' textAlign='Right' width=120></e-column>
                <e-column field='ShipCity' headerText='Ship City' width=150></e-column>
            </e-columns>
        </ejs-grid>
    </div>
</template>

<script src="./fetchdata.ts"></script>




<style>
    /* @import "../node_modules/@syncfusion/ej2-vue-grids/styles/material.css"; */
    /*@import "../../material.css"; */
    @import "https://cdn.syncfusion.com/ej2/material.css";
</style>